html {
    scroll-behavior: smooth;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    background-color: #181818;
}

.nav-item:hover{
    background-color: rgba(222, 69, 53, 1);
    border-radius: .3rem;
}

/*header image*/
.jumbotron-fluid {
    background-image: url("brickPizza.png");
    /*up to -ms-filter used to flip background image*/
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    text-align: left;
    height:60vh;
}

/*flipped the text, as jumbotron had to be flipped*/
.jumbotron .container {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


.jumbotron-fluid h1 span, .jumbotron-fluid p i{
    background-color: rgba(24, 24, 24, .8);
    border-radius: 20px;
}


.sectionTitle, .container_pizzaOptions, .container_about, .menu_header,
.container_dessertOptions, .container_startersOptions, .container_order {
    padding: 2rem;
    text-align: center;

}

.container_pizzaOptions h1, .container_about h1, .menu_header,
.container_startersOptions h1, .container_dessertOptions h1 {
    font-size: 110px;
}
.starters_header, .pizzas_header, .desserts_header {
    font-size: 60px;
    font-family: fantasy;
    text-align: center;
}

.pizza-size {
    color: red;
}
.col-sm {
    text-align: center;
}
.col-md {
    padding-bottom: 2rem;
    
}

.card-body .btn {
    display: flex;
    justify-content: center;

}

.contactUs {
    background-color: #181818;
    color: white;
}

.contactUs .row {
    margin: 0px;
}

.contactInfo {
    font-size: 1.1rem;
}

hr {
    border-top: double lightgray;
}

iframe {
    width: inherit;
    height: 18rem;
}

/*Customer info styles*/

form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
 } 
 
 fieldset {
    background-color: rgb(222, 69, 53, 1);
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px; 
    margin: 10px;  
 }
 
 div {
    margin: 5px;
    width: 100%;
 }
 
 legend {
    color: rgb(255, 255, 255);
    background-color: #181818;
 }
 
 label {
    display: inline-block;
    width: 120px;
 }
 
 img[src="rb_sizes.png"] {
    display: block;
    margin-left: 135px;
 }
 
 fieldset#pickupInfo label, fieldset#deliveryInfo label {
    margin-bottom: 10px;
    width: 100%;
 }
 
 textarea {
    display: block;
    width: 90%;
    height: 100px;
 }
 
 .priceButton {
    height: 50px;
    width: auto;
    background-color: black;
    color: white;

 }

 .priceButton:focus {
    height: 50px;
    width: 50px;
    background-color: red;
    color: black;
 }

 input[type="submit"] {
    height: 50px;
    width: auto;
    background-color: black;
    color: white;
 }
 
 input#sizeBox {
    width: 240px;
 }

 /*======= Build Order Styles =======*/
.section-header {
    font-size: 60px;
    font-family: fantasy;
    text-align: center;
}
.menu-item-name, .pizza-item-name, .dessert-item-name {
    font-size: 25px;
}

/*======= Cart Styles =======*/
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
